navs {
	position:fixed;
	background:none;
	z-index:10000;
	width:100%;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	padding: 0em 0;
	padding-left: 2em;
	padding-right: 2em;
	background-color: #03861e;
	box-shadow: 0px 2px 5px #B1B1B1;
}

navs.navScroll {
	background:rgba(0,0,0,0.7);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	/* color: #745EC5; */
	color: #fff;
	background-color: #03861e;
    
}
navs.navScroll ul li a{
    /* color: #745EC5; */
	color: #fff;
}
navs.navScroll ul.dropdown-menu li a {
    /* color: #745EC5; */
	color: #fff;
}
navs.navScroll .logo a,nav.navScroll .logo a:hover{
    /* color: #745EC5; */
	color: #fff;
	
}
navs.navScroll li a.active {
    color: #fff;
}
navs.navScroll a.buy{
	color: #fff;
}
@media(max-width:767px){
navs {
    padding: 0.8em 1.5em;
}
navs.navScroll ul li a {
    color: #fff;
}
}
@media(max-width:414px){
navs {
    padding: 0.8em;
}
}
@media(max-width:375px){
navs {
    padding: 0.6em 0.6em;
}
}